


SELECT

T0.DIRNAME AS 'CUSTOMER NAME',
T1.ARDATE AS 'DATE',
T1.ARREF AS 'AR REFERENCE',
T1.ARPONO AS 'ARPONO',
T1.ARAMOUNT AS 'AR AMOUNT',
T1.ARPOST AS 'POSTED'

FROM DIRECTOR T0
INNER JOIN ACCREC T1
ON T0.ID = T1.ARCUNO 

 WHERE T0.DIRNAME LIKE 'A%'
ORDER BY  T0.DIRNAME ASC , T1.ARDATE ASC

 R S T U V W X Y Z 
select * from director
ORDER BY DIRNAME ASC

SELECT * FROM ACCREC

SELECT

* 

FROM DIRECTOR T0
INNER JOIN ACCREC T1
ON T0.ID = T1.ARCUNO
WHERE T1.ARDATE <= '2018-12-31'
ORDER BY T0.DIRNAME ASC , T1.ARDATE ASC

SELECT * FROM ACCREC
inner join director 
on accrec.arcuno = director.id
WHERE ARAMOUNT <= 0
and ARDATE >= '2019-01-01'
ORDER BY DIRNAME ASC, ARDATE ASC